# editor
# ----------------------------------------------
.idea
.vscode

# testing
# ----------------------------------------------
.pytest_cache
*.xls*
.coverage

# general
# ----------------------------------------------
__pycache__
.env
venv*
*.log
web.config

# cli
# ----------------------------------------------
*.egg-info
